<div id="wrapper">
    <div class="pull-left" id="menu">
        <div class="menu-button" ng-click="goHome()"><img src="img/home.png" alt="" /></div>
        <div class="menu-button" ng-click="goSchedule()"><img src="img/planner.png" alt="" /></div>
        <div class="menu-button" ng-click="goTodo()"><img src="img/todo.png" alt="" /></div>
        <div class="menu-button" ng-click="goGraph()"><img src="img/graph.png" alt="" /></div>
    </div>
    <div class="pull-right" id="content" ui-view=""></div>
</div>
