<div class="month">
  <ul>
    <li class="prev" ng-click="prevMonth()">&#10094;</li>
    <li class="next" ng-click="nextMonth()">&#10095;</li>
    <li style="text-align: center;">{{date.month.onString[date.month.onNumber]}}<br><span style="font-size:18px">{{date.year}}</span></li>
  </ul>
</div>
<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>
<ul class="days">
  <li ng-repeat="i in getNumber(date.days) track by $index"><span>{{$index+1}}</span></li>
</ul>
